<div class="row p-2 ps-4 me-1">
    <div class="col-auto">
        <button type="button" mat-raised-button routerLink="counter-example">
            <mat-icon class="material-symbols-outlined">counter_1</mat-icon>
            <span>Counter Example</span>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" mat-raised-button routerLink="book-list-example">
            <mat-icon class="material-symbols-outlined">import_contacts</mat-icon>
            <span>Book list Example</span>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" mat-raised-button routerLink="even-or-odd-example">
            <mat-icon class="material-symbols-outlined">counter_3</mat-icon>
            <span>Even or Odd Example</span>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" mat-raised-button routerLink="show-users-example">
            <mat-icon class="material-symbols-outlined">person</mat-icon>
            <span>Show Users Example</span>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" mat-raised-button routerLink="show-users-pagination-example">
            <mat-icon class="material-symbols-outlined">person</mat-icon>
            <span>Show Users Pagination Example</span>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" mat-raised-button routerLink="show-animals">
            <mat-icon class="material-symbols-outlined">pets</mat-icon>
            <span>Show Animals Example</span>
        </button>
    </div>
</div>